@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-logo: var(--font-norican);
  --font-body: var(--font-nunito);
  --font-heading: var(--font-manrope);

  
  --color-green: 167 191 133;
  --color-background: 240 239 234;
  --color-heading: 133 142 109;
  --color-text: 63 68 66;

  
  --color-greensoft: 233 241 227;
  --color-lavender: 183 160 217;
  --color-lavendersoft: 242 238 250;
  --color-peach: 224 147 124;
  --color-peachsoft: 251 238 232;

  
  --button-clr: rgb(var(--color-green));
  --background: rgb(var(--color-background));
  --heading: rgb(var(--color-heading));
  --text: rgb(var(--color-text));
}